@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Playfair+Display:wght@400;500;700&display=swap');

:root {
  --primary-color: #A5845A;
  --secondary-color: #C4A6A1;
  --neutral-color: #BCA88D;

  --background-color: #F6F6F6;
  --text-color: #4B3F3A;
  --white-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  color: var(--primary-color);
  font-weight: 500;
}