.container {
  background-color: var(--background-color);
  padding: 3rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden; 
}

/* Forma decorativa no fundo */
.container::after {
  content: '';
  position: absolute;
  bottom: -150px;
  right: -150px;
  width: 400px;
  height: 400px;
  background-color: var(--primary-color);
  opacity: 0.3;
  border-radius: 50%;
  z-index: 0;
  filter: blur(50px);
}


.title {
  font-family: 'Playfair Display', serif; /* Fonte Elegante */
  font-size: 2.5rem; /* Um pouco maior */
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 3rem;
}

.mapWrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: var(--white-color);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  position: relative;
  z-index: 1;
}

.mapWrapper > div > iframe {
  display: block;
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 8px;
}

.textContainer {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  font-size: 1.25rem;
  line-height: 1.6;
  position: relative;
  z-index: 1;
}